.OurWidgets {
  background-color: $ourWidgetBC;
  color: $themeText;
  .badge {
    color: $widgetbadgetext;
    background-color: $widgetbadge;
  }
  h2{
    padding: 1em;
  }
  ul {
    margin: 1em;
  }
  p {
    margin: 0;
  }
}
