$themeText: #333333;

$headerBackgroundColor: #000000;
$headerText: #ffffff;
$navColor: #337ab7;
$navHoverBackground:#555555;
$navHoverColor: #ffffff;

$ourWidgetBC: #d9edf7;
$widgetbadge: #337ab7;
$widgetbadgetext: #ffffff;

$placeOrderBG: #ffddcc;
$fieldsetBackBord: #337ab7;
$legendText: #ffffff;

$footerBackgroundColor: #000000;
$footerText: #ffffff;
