.WidgetProducers {
  color: $themeText;
  .pictures {
    text-align: center;
  }
  h2 {
    padding: 1em;
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  img{
    margin: 1em;
    // make the following a variable
    width: 25%;
  }
}
